@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "First Page";
}

@section head{
    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>Default Content Page</h1>
}

<p>Hello World</p>
<hr style="line-height:5px" />

@section footer{
    &copy; CPSC1517 NAIT all rights reserved
}