@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "TextBoxes";

    //the processing of this page is PHYSICALLY done from TOP to BOTTOM

    //capture the incoming "post" method data
    //all data coming in will be strings
    //if a form control does NOT exist, the value null is returned
    //if a form control does exist, then the associated data is returned
    //for a textbox control, the data is the entered data
    //for a form submit button, the data is the value assigned to the value parameter
    var leftside = Request.Form["inputleft"];
    var rightside = Request.Form["inputright"];
    var thebutton = Request.Form["formbutton"];
}

@section head{
    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>Text Boxes</h1>
}

<!--this HTML will appear in the RenderBody of the layout page-->

@if (IsPost)
{
    //which form button was pressed?
    if (thebutton.Equals("left"))
    {
        <p>Your name is @leftside</p>
    }
    else if (thebutton.Equals("right"))
    {
        <p>Your favorite color is @rightside</p>
    }
    else
    {
        leftside = null;
        rightside = null;
    }
}
else
{
    <p>You have not yet sent this form back. IsPost is false</p>
}

<form id="theform" method="post">
    <div class="col-md-6">
        <label for="inputleft">Left</label>
        <input type="text" id="inputleft" name="inputleft"
               placeholder="enter your name"
               value="@leftside" />
        <button type="submit" id="formbutton" name="formbutton"
                class="btn" value="left">
            Press Left
        </button>
    </div>
    <div class="col-md-6">
        <label for="inputright">Right</label>
        <input type="text" id="inputright" name="inputright"
               placeholder="enter your favourite color"
               value="@rightside" />
        <button type="submit" id="formbutton" name="formbutton"
                class="btn" value="right">
            Press Right
        </button>
    </div>
    <div class="row">
        <div class="col-md-offset-5">
            <button type="submit" id="formbutton" name="formbutton" class="btn" value="reset">
                Reset On Server
            </button>
        </div>
    </div>
</form>

